@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Tenor+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Narrow", cursive;
  color: black;
}

a {
  text-decoration: none;
}

p {
  font-family: "Archivo Narrow", cursive;
}

h2 {
  font-family: "Tenor Sans", sans-serif;
}

.navigation {
  height: auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  /* Needed to position the navbar */
  position: fixed;
  width: 100%;
}

.nav__item {
  padding-left: 40px;
  font-size: 25px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav__button {
  padding-left: 25px;
}

.heading {
  padding-top: 50px;
  position: relative;
  top: 50px;
}

.heading__big {
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  font-size: 80px;
}

.heading__small {
  font-family: "Archivo Narrow", cursive;
  text-align: center;
  font-size: 50px;
}

.nav__button {
  display: inline-block;
  width: 100px;
  background-color: #0892D0;
  text-align: center;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  color: white;
  border: none;
}

.bgsection {
  background-image: url(/portfolio-working/assets/MountainReduced.png);
  background-position: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100%;
}

.mainbg {
  background-color: black;
}

footer {
  position: relative;
  height: 200px;
  margin-bottom: -200px;
}

.about-me {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  height: 500px;
}

.about-me img {
  height: 300px;
  width: auto;
  border-radius: 20%;
  margin-bottom: 40px;
}

.about-me h2 {
  padding-top: 100px;
  color: white;
  font-size: 60px;
  font-family: "Tenor Sans", sans-serif;
  margin-bottom: 40px;
  width: 800px;
  text-align: center;
}

.about-me__blurb {
  color: white;
  font-size: 30px;
  width: 800px;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
}

.tech-stack {
  position: relative;
  top: 1000px;
  background-color: black;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-stack h2 {
  padding-top: 100px;
  color: white;
  font-size: 60px;
  font-family: "Tenor Sans", sans-serif;
  width: 800px;
  text-align: center;
}

.tech-stack__blurb {
  color: white;
  font-size: 30px;
  width: 800px;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tech-stack-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.work-grid {
  width: 800px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  height: 100%;
}

#item-0 {
  background-image: url(/portfolio-working/assets/laptop.jpg);
  background-size: cover;
  background-color: #A9DDAB;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 4;
}

#item-1 {
  background-image: url(/portfolio-working/assets/Work.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-color: #ABBA68;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 5;
  grid-column-end: 6;
}

#item-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 6;
}

#item-3 {
  height: 10px;
  background-image: url(/portfolio-working/assets/lines-small.png);
  grid-row-start: 6;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 6;
}

.my-work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 1000px;
  bottom: 1000px;
  background-color: black;
  height: 1000px;
}

.my-work h2 {
  padding-top: 100px;
  color: white;
  font-size: 60px;
  font-family: "Tenor Sans", sans-serif;
  width: 800px;
  text-align: center;
}

.my-work__blurb {
  color: white;
  font-size: 30px;
  width: 800px;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}