@use "../base/abstracts" as *;

//----------------------------------------------------------------------------------------------//
//settings for mobile
@media screen and (max-width: 480px) {

  .bgsection {
    background-image: url(/portfolio-working/assets/MountainReduced.png);
    background-size:cover;
    background-position: 48% 0%;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
  }
  
  .mainbg {
    background: black;
    height: 100vh;
  }

  .blendbg {
    background: linear-gradient(#01150E, #000000);
    height: 100vh;
  }
  
  
  footer {
      position: absolute;
      bottom: 0px;
  
      
  }

  .scroll-arrows {
    width: 12vw;
    height: auto;
    margin-bottom: 2vh;
    margin-top: 13vh;
    
  }
  }

//----------------------------------------------------------------------------------------------//
//settings for ipad

@media screen and (min-width: 480px) {

  .bgsection {
    background-image: url(/portfolio-working/assets/MountainReduced.png);
    background-size:cover;
    background-position: 49% 0%;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
  }
  
  .mainbg {
    background: black;
    height: 100vh;
  }

  .blendbg {
    background: linear-gradient(#01150E, #000000);
    height: 100vh;
  }
  
  
  footer {
      position: absolute;
      bottom: 0px;
  
      
  }

  .scroll-arrows {
    width: 7vw;
    height: auto;
    margin-bottom: 2vh;
    margin-top: 13vh;
    
  }
  }

//----------------------------------------------------------------------------------------------//
//settings for laptop
@media screen and (min-width: 768px) {
  .bgsection {
    background-image: url(/portfolio-working/assets/Mountain.jpg);
    background-size:cover;
    background-position: 48% 0%;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
  }

  .mainbg {
    background: black;
    height: 100vh;
  }

  .blendbg {
    background: linear-gradient(#01150E, #000000);
    height: 100vh;
  }


  footer {
      position: absolute;
      bottom: 0px;

  }

  .scroll-arrows {
    width: 7vw;
    height: auto;
    margin-bottom: 2vh;
    margin-top: 13vh;
    
  }



    

}