@use "../base/abstracts" as *;
.bgsection {
  background-image: url(/portfolio-working/assets/MountainReduced.png);
  background-position:cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100%;
}

.mainbg {
  background-color: black;
  height: 100vh;
}


footer {
    position: absolute;
    bottom: 0px;

}