@use "../base/abstracts" as *;
.bgsection {
  background-image: url(/portfolio-working/assets/MountainReduced.png);
  background-position:cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100%;
}

.mainbg {
  background-color: black;
}

.about-me {
  position: relative;
  top: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  height: 500px;
}

.about-me img {
  
  height: 300px;
  width: auto;
  border-radius: 20%;
  margin-bottom: 40px;
}

.about-me h2 {
  padding-top: 100px;
  color: white;
  font-size: 60px;
  font-family: $font-header;
  margin-bottom: 40px;
  width: 800px;
  text-align: center;
}

.about-me__blurb {
  color: white;
  font-size: 30px;
  width: 800px;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
}

.tech-stack {
  position: relative;
  top: 1000px;
  background-color: black;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-stack h2 {
  padding-top: 100px;
  color: white;
  font-size: 60px;
  font-family: $font-header;
  width: 800px;
  text-align: center;
}
.tech-stack__blurb {
  color: white;
  font-size: 30px;
  width: 800px;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}


.tech-stack-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.my-work {
  position: relative;
  top: 1000px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-work h2 {
  padding-top: 100px;
  color: white;
  font-size: 60px;
  font-family: $font-header;
  width: 800px;
  text-align: center;
}



.my-work__blurb {
  color: white;
  font-size: 30px;
  width: 800px;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-work__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}