@use "../base/abstracts" as *;

.contact-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #3D4849;
  height: 150vh;
  margin-top: 40px;
}

.contact-details h2 {
  padding-top: 20px;
  color: #F5F5F5;
  font-size: 25px;
  font-family: $font-header;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90vw;
  text-align: center;
  text-decoration: underline;
}

.contact-details a {
  color: #F5F5F5;
  font-family: $font-body;
  font-size: 20px;
  width: 90vw;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.contact-details p {
  color: #F5F5F5;
  font-family: $font-body;
  font-size: 20px;
  width: 90vw;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.contact-images {
  width: 30vw;
  display: flex;
  justify-content:center;
  align-items:center;
}

.linked-in {
  height: 8vw;
  justify-content:center;
  align-items:center;
}

.github {
  height: 8vw;
  justify-content:center;
  align-items:center;
}
//--------------------------------------------------------------
//settings for ipad
@media screen and (min-width: 480px) {

.contact-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #3D4849;
  height: 150vh;
}

.contact-details h2 {
  padding-top: 80px;
  color: #F5F5F5;
  font-size: 30px;
  font-family: $font-header;
  margin-bottom: 10px;
  width: 80vw;
  text-align: center;
  text-decoration: underline;
}

.contact-details a {
  color: #F5F5F5;
  font-family: $font-body;
  font-size: 25px;
  width: 80vw;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}
.contact-details p {
    color: #F5F5F5;
    font-family: $font-body;
    font-size: 25px;
    width: 80vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .contact-images {
    width: 30vw;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .linked-in {
    height: 4vw;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  
  .github {
    height: 4vw;
    display: flex;
    justify-content:center;
    align-items:center;
}
}

//--------------------------------------------------------------
//settings for desktop
@media screen and (min-width: 768px) {

  .contact-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #3D4849;
    height: 150vh;
  }
  
  .contact-details h2 {
    padding-top: 80px;
    color: #F5F5F5;
    font-size: 30px;
    font-family: $font-header;
    margin-bottom: 10px;
    width: 80vw;
    text-align: center;
    text-decoration: underline;
  }
  
  .contact-details a {
    color: #F5F5F5;
    font-family: $font-body;
    font-size: 30px;
    width: 80vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  .contact-details p {
      color: #F5F5F5;
      font-family: $font-body;
      font-size: 30px;
      width: 80vw;
      line-height: 1.5;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 20px;
    }
    .contact-images {
      width: 20vw;
      display: flex;
      justify-content:space-between;
      align-items:center;
    }
    .linked-in {
      height: 4vw;
      justify-content:center;
      align-items:center;
    }
    
    .github {
      height: 4vw;
      justify-content:center;
      align-items:center;
  }
}