@use "../base/abstracts" as *;


.heading__big {
  font-family: $font-header;
  text-align: center;
  font-size:80px;
  margin-top: 20px;

}

.heading__small {
  font-family: $font-body;
  text-align: center;
  font-size: 50px;
}


