@use "../base/abstracts" as *;
//----------------------------------------------------------------------------------------------//
//settings for mobile
  .my-work {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 110vh;

  }

  .my-work h2 {
    padding-top: 100px;
    color: white;
    font-size: 30px;
    font-family: $font-header;
    width: 90vw;
    text-align: center;
  }



  .my-work__blurb {
    color: white;
    font-size: 15px;
    width: 90vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:max-content;
    grid-auto-rows: auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    width: 90vw;
  }
  
  .one { 
    grid-area: 1 / 1 / 2 / 2;
    
     }

  .one img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  .two { grid-area: 1 / 2 / 2 / 3; }

  .two img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  
  .three { 
    grid-area: 2 / 1 / 3 / 3;
     }

  .three p { 
    color: white;
    font-family: $font-body;
    font-size: 20px;
    text-align: center;
    border: 2px white solid;
    
       }

    .four { grid-area: 3 / 1 / 4 / 3; }

    .four img {
      object-fit: scale-down;
      height: 100%;
      max-width: 100%;
      padding-top: 10px;
    }

//----------------------------------------------------------------------------------------------//
//settings for ipad

@media screen and (min-width: 480px) {
  
  .my-work {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 110vh;

  }

  .my-work h2 {
    padding-top: 100px;
    color: white;
    font-size: 40px;
    font-family: $font-header;
    width: 80vw;
    text-align: center;
  }



  .my-work__blurb {
    color: white;
    font-size: 25px;
    width: 80vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:max-content;
    grid-auto-rows: auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    width: 80vw;
  }
  
  .one { 
    grid-area: 1 / 1 / 2 / 2;
    
     }

  .one img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  .two { grid-area: 1 / 2 / 2 / 3; }

  .two img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  
  .three { 
    grid-area: 2 / 1 / 3 / 3;
     }

  .three p { 
    color: white;
    font-family: $font-body;
    font-size: 25px;
    text-align: center;
    border: 2px white solid;
    
       }

    .four { grid-area: 3 / 1 / 4 / 3; }

    .four img {
      object-fit: scale-down;
      height: 100%;
      max-width: 100%;
      padding-top: 10px;
    }

}


//----------------------------------------------------------------------------------------------//
//settings for laptop
@media screen and (min-width: 768px) 
{

  .my-work {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 150vh;

  }

  .my-work h2 {
    padding-top: 100px;
    color: white;
    font-size: 60px;
    font-family: $font-header;
    width: 55vw;
    text-align: center;
  }



  .my-work__blurb {
    color: white;
    font-size: 20px;
    width: 55vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  // .work-grid {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 1.2fr 0.5fr;
  //   grid-auto-rows: 1fr;
  //   gap: 10px 10px;
  //   grid-auto-flow: row;
  //   width: 55vw;
  // }
  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:max-content;
    grid-auto-rows: auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    width: 55vw;

  }


  .one { 
    grid-area: 1 / 1 / 2 / 2;
    
     }

  .one img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  .two { grid-area: 1 / 2 / 2 / 3; }

  .two img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  
  .three { 
    grid-area: 2 / 1 / 3 / 3;
     }

  .three p { 
    color: white;
    font-family: $font-body;
    font-size: 20px;
    text-align: center;
    border: 2px white solid;
    width: 55vw;
    
       }

}
