@use "../base/abstracts" as *;


.my-work {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 150vh;
}

.my-work h2 {
  padding-top: 100px;
  color: white;
  font-size: 60px;
  font-family: $font-header;
  width: 33vw;
  text-align: center;
}



.my-work__blurb {
  color: white;
  font-size: 30px;
  width: 33vw;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
