@use "../base/abstracts" as *;
//----------------------------------------------------------------------------------------------//
//settings for mobile

  .container {

    height: auto;
    padding: 0 40px;
    display: none;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 100px;
    min-height: 40px;
    /* Needed to position the navbar */
    position: fixed;
    width: 100%;
  }
  //Getting container to stay fixed or sticky


  .nav__item {
    margin-top: 10px;
    padding-left:40px;
    font-size: 25px;
    display: none;
    justify-content: space-between;
    align-items: center;
    color: white;
  
  }

  .nav__button {
    padding-left: 25px;

  }

//----------------------------------------------------------------------------------------------/
//settings for ipad

@media screen and (min-width: 480px) {

}
.container {

  height: auto;
  padding: 0 40px;
  display: none;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 100px;
  min-height: 40px;
  /* Needed to position the navbar */
  position: fixed;
  width: 100%;
}
//Getting container to stay fixed or sticky


.nav__item {
  padding-left:40px;
  font-size: 25px;
  display: none;
  justify-content: space-between;
  align-items: center;
  color: white;

}

.nav__button {
  padding-left: 25px;

}



//----------------------------------------------------------------------------------------------//
//settings for desktop
@media screen and (min-width: 768px) {


  .container {

    height: auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 100px;
    min-height: 40px;
    /* Needed to position the navbar */
    position: fixed;
    width: 100%;
  }
  //Getting container to stay fixed or sticky


  .nav__item {
    padding-left:40px;
    font-size: 25px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    color: white;
  
  }

  .nav__item:hover {
    color: black;
    cursor: pointer;
  }

  .nav__button {
    padding-left: 25px;

  }
  .hamburger {
    background: white;
    height: 100px;
    width: auto;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }

}
