@use "../base/abstracts" as *;


.navigation {
  height: auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  min-height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
//Getting navigation to stay fixed or sticky


.nav__item {
  padding-left:40px;
  font-size: 25px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
 
}

.nav__button {
  padding-left: 25px;

}