@use "../base/abstracts.scss" as *;
//----------------------------------------------------------------------------------------------//
//settings for mobile

  .nav__button {
    display: none;
    width: 100px;
    background-color: #0892D0;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
    border: none;
  }

//----------------------------------------------------------------------------------------------//
//settings for laptop
@media screen and (min-width: 768px) {


.nav__button {
  display: inline-block;
  width: 100px;
  background-color: #0892D0;
  text-align: center;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  color: white;
  border: none;
}
}
