@use "../base/abstracts" as *;

//----------------------------------------------------------------------------------------------//
//settings for mobile
  .about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 150vh;
  }

  .about-me .profile {
    height: 300px;
    width: auto;
    border-radius: 20%;
    margin-bottom: 40px;
  }

  .about-me h2 {
    padding-top: 100px;
    color: white;
    font-size: 30px;
    font-family: $font-header;
    margin-bottom: 40px;
    width: 90vw;
    text-align: center;
    text-decoration: underline;
  }

  .about-me__blurb {
    color: white;
    font-size: 20px;
    width: 90vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }


//----------------------------------------------------------------------------------------------//
//settings for ipad

@media screen and (min-width: 480px) {

  .about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 150vh;
  }

  .about-me .profile {
    height: 300px;
    width: auto;
    border-radius: 20%;
    margin-bottom: 40px;
  }

  .about-me h2 {
    padding-top: 100px;
    color: white;
    font-size: 40px;
    font-family: $font-header;
    margin-bottom: 40px;
    width: 80vw;
    text-align: center;
    text-decoration: underline;
  }

  .about-me__blurb {
    color: white;
    font-size: 25px;
    width: 80vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

}



//----------------------------------------------------------------------------------------------//
//settings for laptop
@media screen and (min-width: 768px) {
  
  .about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 180vh;
  }
  
  .about-me .profile {
    height: 38vh;
    width: auto;
    border-radius: 20%;
    margin-bottom: 40px;
  }
  
  .about-me h2 {
    padding-top: 100px;
    color: white;
    font-size: 60px;
    font-family: $font-header;
    margin-bottom: 40px;
    width: 55vw;
    text-align: center;
    text-decoration: underline;
  }
  
  .about-me__blurb {
    color: white;
    font-size: 30px;
    width: 55vw;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
  }
}
//----------------------------------------------------------------------------------------------//